*{
	margin: 0;
	padding: 0;
}

.content {
	position: absolute;
	
	max-width: 400px;
}

.pixel {
	float: left;
	display: inline-block;
	
	height: 50px;
	width: 50px;
	
}

.control {
	position: absolute;
	right: 0;
}

.control div {
	height: 25px;
	width:  25px;

	border-radius: 15px;
	margin: 10px;
}

.yellow { background: #FF0 }
.red 	{ background: #F00 }
.green 	{ background: #0F0 }
.blue 	{ background: #00F }
.black 	{ background: #000 }
.white 	{ background: #FFF }
.gray	{ background: #CCC }